.container{
  background-color: #FEFEFE;
  width: 100%;
  justify-content: center;
}
#aboutCookies{
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: #FEFEFE;
  display: flex;
  position: relative;
}
#cookies{
  width:70%;
  border-style: solid;
  border-color: #874F40;
}
